@font-face {
  font-family: Nairi;
  src: url(../fonts/Nairi-Normal.woff2) format('woff2'),url(../fonts/Nairi-Normal.woff) format('woff'),url(../fonts/Nairi-Normal.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: CoreSans;
  src: url(../fonts/CoreSansE-35Light.woff2) format('woff2'),url(../fonts/CoreSansE-35Light.woff) format('woff');
  font-weight: 300;
  font-style: normal
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
abbr,
fieldset,
img {
  border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400
}
ul li {
  list-style: none
}
caption,
th {
  text-align: left
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}
legend {
  color: #000
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
body {
  font-size: 20px;
  font-family: CoreSans
}
img {
  max-width: 100%;
  height: auto
}
a {
  color: #92d5bc;
  text-decoration: none
}
button {
  cursor: pointer
}
abbr {
  text-decoration: none
}
.main-header {
  padding: 5px 0;
  font-family: Nairi;
  font-size: 16px;
  color: #92d5bc;
  background: url(../img/header-bd.jpg) 0 0/cover no-repeat #050505
}
.main-header--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px
}
.main-header--logo {
  box-sizing: border-box;
  word-wrap: break-word;
  width: auto;
  height: 30px;
  margin: auto 5px
}
.main-header--search {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(33.333333333333336% - 10px);
  height: auto;
  background-color: #fff
}
.contacts--list {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  margin-left: calc(8.333333333333334% + 5px);
  margin-right: calc(8.333333333333334% + 5px);
  width: calc(16.666666666666668% - 10px)
}
.discounts .container {
  position: relative
}
.discounts--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px
}
.discounts--item {
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc(100% - 10px);
  margin: 0 auto;
  padding-bottom: 10px;
  display: none;
  position: relative;
  overflow: hidden
}
.discounts--item__active {
  display: block
}
.discounts--header {
  font-size: 50px;
  font-weight: 700;
  color: #232e30;
  margin-top: 60px;
  margin-left: 100px
}
.discounts--img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.discounts--info {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 100px;
  color: #95b1b5;
  background-color: rgba(0,0,0,.5)
}
.discounts--btns {
  position: relative;
  width: 100%
}
.discounts--btn {
  font-size: 0;
  border: none;
  padding: 0;
  width: 27px;
  height: 52px;
  background: url(../img/arrow.png) center no-repeat red
}
.discounts--btn__next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  right: 0
}
.discounts--checks {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70px;
  margin-bottom: 10px
}
.discounts--check {
  font-size: 0;
  border: 2px solid #8bbead;
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%
}
.services--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.services--item {
  background-color: rgba(255,0,0,.5);
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(50% - 10px);
  margin-bottom: 20px
}
.service--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.service--item {
  background-color: rgba(255,255,0,.5);
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(25% - 10px)
}
.service--header {
  text-align: center
}
.faq--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.faq--header {
  display: inline-block;
  margin-right: 4px
}
.faq--text {
  display: inline-block
}
@media screen and (max-width:780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px
  }
  .service--item {
    width: calc(41.66666666666667% - 10px)
  }
}
@media screen and (max-width:560px) {
  .services--item {
    width: calc(83.33333333333334% - 10px)
  }
  .service--item {
    width: calc(100% - 10px)
  }
}
/*# sourceMappingURL=style.css.map */
