@font-face {
  font-family: CenturyGothic;
  src: url(../fonts/CenturyGothic.woff2) format('woff2'),url(../fonts/CenturyGothic.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: CoreSans;
  src: url(../fonts/CoreSansE-35Light.woff2) format('woff2'),url(../fonts/CoreSansE-35Light.woff) format('woff');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Haettenschweiler;
  src: url(../fonts/Haettenschweiler.woff2) format('woff2'),url(../fonts/Haettenschweiler.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
abbr,
fieldset,
img {
  border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400
}
ul li {
  list-style: none
}
caption,
th {
  text-align: left
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}
legend {
  color: #000
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px
}
body {
  font-size: 20px;
  font-family: CoreSans,sans-serif;
  background-color: #141212
}
img {
  max-width: 100%;
  height: auto
}
a,
abbr {
  text-decoration: none
}
button {
  cursor: pointer
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.accent-text {
  color: #5b8b2d
}
.main-header {
  font-family: CenturyGothic,sans-serif;
  font-size: 16px;
  color: #92d5bc
}
.main-header--wrap {
  box-sizing: border-box;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/header-bd.jpg) 0 0/cover no-repeat #050505
}
.main-header--logo {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: 450px;
  height: auto
}
.main-header--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1
}
.main-header--show {
  border: none;
  padding: 0;
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background: url(../../img/search.png) center/cover no-repeat
}
.main-header--show::after {
  content: "поиск";
  position: absolute;
  top: 0;
  left: 27px;
  font-size: 14px;
  font-family: CenturyGothic,sans-serif;
  color: #92d5bc;
  display: none
}
.main-header--input {
  border: none;
  padding: 10px 15px;
  box-sizing: border-box;
  min-width: 400px;
  font-size: 20px;
  background-color: rgba(255,255,255,.25);
  color: #92d5bc
}
.main-header--langs {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.main-header--lang {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 21px;
  height: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
  background: url(../../img/lang-rus.png) center/cover no-repeat;
  border: none;
  border-radius: 0
}
.main-header--lang:hover {
  outline: #71adab solid 1px
}
.main-header__ukr {
  background-image: url(../../img/lang-ukr.png)
}
.main-header--lang-lab {
  font-size: 0
}
.contacts--list {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3
}
.contacts--item {
  margin-bottom: 6px
}
.contacts--item:last-child {
  margin-bottom: 0
}
.contacts--link {
  margin-left: 25px;
  position: relative;
  color: #92d5bc
}
.contacts--link::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.contacts--link__e-mail::before {
  width: 21px;
  height: 15px;
  left: -28px;
  background: url(../../img/mail.png) center/cover no-repeat
}
.contacts--link__phone::before {
  width: 18px;
  height: 19px;
  left: -25px;
  background: url(../../img/phone.png) center/cover no-repeat
}
.contacts--link__location::before {
  width: 16px;
  height: 22px;
  left: -24px;
  background: url(../../img/location.png) center/cover no-repeat
}
.discounts {
  position: relative;
  margin-bottom: 10px
}
.discounts--wrap {
  position: relative
}
.discounts--list {
  position: relative;
  overflow: hidden
}
.discounts--item {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 100%;
  min-height: 100%;
  overflow: hidden
}
.discounts--item__active {
  position: relative;
  left: 0;
  top: 0
}
.discounts--header {
  font-size: 50px;
  font-weight: 700;
  color: #232e30;
  margin-top: 100px;
  margin-left: 100px
}
.discounts--img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.discounts--info {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 100px;
  color: #95b1b5;
  background-color: rgba(0,0,0,.5)
}
.discounts--btns {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}
.discounts--btn {
  font-size: 0;
  border: none;
  padding: 0;
  width: 27px;
  height: 52px;
  background: url(../img/arrow.png) center no-repeat
}
.discounts--btn__next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.discounts--checks {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px
}
.discounts--check {
  font-size: 0;
  border: 2px solid #8bbead;
  padding: 0;
  margin: 0 4px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 50%
}
.discounts--check:focus,
.discounts--check:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s,-webkit-transform .15s
}
.discounts--check__active {
  position: relative;
  background: -webkit-radial-gradient(#8bbead 55%,transparent 45%);
  background: radial-gradient(#8bbead 55%,transparent 45%)
}
.discounts--check__active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 2px
}
.services--list {
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.services--item {
  position: relative;
  width: calc(50% - 10px);
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #99ce94
}
.services--item__long {
  width: 100%
}
.services--item__long .service--item {
  width: calc(16.666666666666668% - 10px)
}
.services--header {
  font-size: 27px;
  color: #394d44;
  background-color: #99ce94
}
.services--header__left {
  margin-right: 20px;
  padding-right: 5px;
  text-align: right
}
.services--header__right {
  margin-left: 20px;
  padding-left: 5px;
  text-align: left
}
.services--header__long {
  text-align: center
}
.services--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  opacity: .5
}
.services--bg__left {
  background-image: url(../img/services-left-bg.png)
}
.services--bg__right {
  background-image: url(../img/services-right-bg.png)
}
.services--bg__long {
  background-image: url(../img/services-long-bg.png)
}
.services--wrap {
  padding-top: 35px;
  padding-bottom: 85px;
  background-color: #588b52
}
.services a,
.services b,
.services button,
.services p {
  z-index: 3
}
.service--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.service--item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center
}
.service--item:first-child {
  margin-left: 20px
}
.service--item:last-child {
  margin-right: 20px
}
.service--header {
  margin-top: -65px;
  margin-bottom: 15px;
  padding-bottom: 30px;
  font-family: Haettenschweiler,sans-serif;
  font-size: 32px;
  color: #192822;
  background-color: #588b52
}
.service--about {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 15px;
  font-size: 18px;
  color: #394d44
}
.service--price {
  margin-bottom: 10px;
  font-size: 15px;
  color: #192822;
  font-weight: 700
}
.service--link {
  position: relative;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #838181;
  border: 2px solid #707070;
  border-radius: 8px;
  color: rgba(255,255,255,.7)
}
.service--link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-size: contain;
  z-index: -1;
  opacity: .2
}
.service--link:active,
.service--link:hover {
  background-color: #9d9b9b;
  border: 2px solid #5d5d5d;
  -webkit-transition: all .2s;
  transition: all .2s
}
.service--link:active {
  background-color: #4d4b4b;
  border: 2px solid #353535;
  -webkit-transition: all .2s;
  transition: all .2s
}
.about-us--wrap {
  padding: 1px 1px 200px;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px;
  background: url(../img/about-us-bg.jpg) center/cover no-repeat
}
.about-us--header {
  margin-left: 47%;
  margin-bottom: 35px;
  margin-top: 70px;
  font-size: 48px;
  font-family: CenturyGothic,sans-serif;
  color: #161e1b
}
.about-us--info {
  margin-left: 47%;
  margin-bottom: 100px;
  padding-right: 70px;
  font-size: 23px;
  font-family: CenturyGothic,sans-serif
}
.faq {
  margin-top: -170px;
  margin-bottom: 100px;
  font-family: CenturyGothic,sans-serif;
  font-size: 46px;
  color: #161e1b
}
.faq--wrap {
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255,255,255,.42)
}
.faq--header {
  display: inline-block
}
.faq--link {
  color: #446822
}
.faq--link:focus,
.faq--link:hover {
  color: #75bc32;
  text-decoration: underline;
  -webkit-transition: color .2s;
  transition: color .2s
}
.faq--link:active {
  color: #436b1d
}
.faq--text {
  display: inline-block
}
.main-footer {
  padding-bottom: 30px;
  font-family: CenturyGothic,sans-serif;
  font-size: 18px;
  color: #35521a
}
.main-footer--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 30px
}
.main-footer--item {
  margin-bottom: 8px
}
.main-footer--link {
  color: #35521a;
  border-bottom: 1px solid #35521a
}
.main-footer--link:focus,
.main-footer--link:hover {
  color: #75bc32;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out
}
.main-footer--link:active {
  color: #436b1d
}
.main-footer--asks {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-size: 36px
}
.main-footer--phone {
  display: block;
  margin-bottom: 20px;
  padding-right: 45px;
  font-size: 36px;
  color: #35521a;
  text-align: right;
  cursor: text
}
.main-footer--address {
  text-align: right
}
.test {
  display: inline-block;
  width: 200px;
  height: 200px
}
@media screen and (max-width:1400px) {
  .main-header {
    font-size: 14px
  }
  .main-header--logo {
    width: 350px
  }
  .main-header--input {
    min-width: 300px;
    padding: 8px 10px;
    font-size: 17px
  }
  .contacts--link__e-mail::before {
    width: 18px;
    height: 13px;
    left: -25px
  }
  .contacts--link__phone::before {
    width: 15px;
    height: 16px;
    left: -23px
  }
  .contacts--link__location::before {
    width: 13px;
    height: 18px;
    left: -21px
  }
  .discounts--header {
    margin-top: 25px;
    margin-left: 75px
  }
  .discounts--info {
    padding: 5px 75px;
    font-size: 19px;
    line-height: 1.45
  }
  .services--header {
    font-size: 24px;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    padding: 3px 0
  }
  .services--wrap {
    padding-top: 25px;
    padding-bottom: 60px
  }
  .service--item:first-child {
    margin-left: 0
  }
  .service--item:last-child {
    margin-right: 0
  }
  .service--header {
    margin-top: -45px;
    padding-bottom: 15px;
    font-size: 24px
  }
  .service--about,
  .service--link {
    font-size: 17px
  }
  .about-us--wrap {
    padding-bottom: 140px
  }
  .about-us--header {
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 40%;
    font-size: 40px
  }
  .about-us--info {
    margin-bottom: 80px;
    margin-left: 40%;
    padding-right: 35px;
    font-size: 20px
  }
  .faq {
    margin-bottom: 120px;
    font-size: 31px
  }
  .main-footer {
    font-size: 16px
  }
  .main-footer--asks,
  .main-footer--phone {
    font-size: 26px
  }
}
@media screen and (max-width:1075px) {
  .main-header--input {
    min-width: 260px;
    font-size: 16px
  }
}
@media screen and (max-width:980px) {
  .main-header--search {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 20px
  }
  .main-header--show {
    margin-right: 0
  }
  .main-header--input {
    display: none
  }
  .main-header--langs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 30px
  }
  .main-header--lang {
    width: 28px;
    height: 17px;
    margin-bottom: 3px;
    margin-top: 3px
  }
  .contacts--item,
  .contacts--item:last-child {
    margin-bottom: 2px
  }
  .md-hidden {
    height: 0;
    display: none
  }
  .discounts {
    margin-bottom: 5px
  }
  .discounts--header {
    margin-left: 50px
  }
  .discounts--info {
    padding: 5px 50px;
    font-size: 17px;
    line-height: 1.4;
    background-color: rgba(0,0,0,.6)
  }
  .services--item {
    width: 100%;
    margin-bottom: 7px
  }
  .service--item,
  .services--item__long .service--item {
    width: calc(25% - 10px)
  }
  .service--header {
    font-size: 28px
  }
  .about-us--header {
    margin-left: 35%
  }
  .about-us--info {
    margin-left: 35%;
    padding-right: 10px;
    font-size: 18px
  }
  .faq {
    font-size: 34px;
    margin-bottom: 90px
  }
  .faq--wrap {
    padding: 10px 0
  }
  .main-footer {
    font-size: 14px
  }
  .main-footer--asks,
  .main-footer--phone {
    font-size: 20px
  }
}
@media screen and (max-width:780px) {
  .container {
    padding-left: 0;
    padding-right: 0
  }
  .main-header--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .main-header--logo {
    width: calc(66.66666666666667% - 10px);
    margin: 0 auto 20px
  }
  .main-header--search {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 0
  }
  .main-header--show::after {
    display: inline-block
  }
  .main-header--show {
    width: 20px;
    height: 20px
  }
  .main-header--langs {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin-bottom: auto
  }
  .main-header--lang {
    width: 45px;
    height: 27px
  }
  .main-header__active-lang {
    display: none
  }
  .contacts--list {
    width: calc(83.33333333333334% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-right: 10px
  }
  .contacts--link {
    display: block
  }
  .sm-hidden {
    display: none;
    height: 0
  }
  .discounts--header {
    margin-left: 50px
  }
  .services--list {
    margin-left: 0;
    margin-right: 0
  }
  .services--item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px
  }
  .service--header {
    font-size: 22px
  }
  .about-us--wrap {
    padding-bottom: 120px
  }
  .about-us--header {
    margin-top: 20px;
    margin-left: 0;
    text-align: center
  }
  .about-us--info {
    margin-left: 0;
    padding-right: 0;
    text-align: center
  }
  .faq {
    font-size: 29px;
    margin-bottom: 110px
  }
  .main-footer {
    font-size: 16px;
    padding-bottom: 0;
    text-align: center
  }
  .main-footer--wrap {
    padding: 0 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .main-footer--wrapper {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
  }
  .main-footer--nav {
    width: 100%
  }
  .main-footer--phone {
    margin-bottom: 10px;
    padding-right: 0;
    text-align: center
  }
  .main-footer--address {
    margin-bottom: 30px;
    text-align: center
  }
}
@media screen and (max-width:560px) {
  .main-header {
    font-size: 12px
  }
  .main-header--wrap {
    padding: 5px 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
  }
  .main-header--logo {
    width: calc(75% - 10px);
    margin-left: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-item-align: end;
    align-self: flex-end
  }
  .main-header--search {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 10px
  }
  .main-header--show::after {
    display: none
  }
  .main-header--show {
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
  .main-header--langs {
    margin-right: 10px
  }
  .main-header--lang {
    width: 21px;
    height: 13px
  }
  .contacts--list {
    width: calc(100% - 10px)
  }
  .contacts--link__e-mail {
    margin-left: 22px
  }
  .contacts--link__e-mail::before {
    left: -21px
  }
  .contacts--link__phone {
    margin-left: 15px
  }
  .contacts--link__phone::before {
    width: 13px;
    height: 14px;
    left: -13px
  }
  .contacts--link__location {
    margin-left: 17px
  }
  .contacts--link__location::before {
    left: -16px
  }
  .xs-hidden {
    height: 0;
    display: none
  }
  .discounts--header {
    margin-top: 10px;
    font-size: 35px
  }
  .discounts--img {
    min-width: 100%;
    height: 150%
  }
  .discounts--info {
    font-size: 15px;
    padding: 5px 40px;
    line-height: 1.4
  }
  .services--item__long .service--item {
    width: calc(50% - 10px)
  }
  .services--header {
    font-size: 20px
  }
  .service--item {
    width: calc(50% - 10px)
  }
  .service--header {
    font-size: 25px
  }
  .about-us--wrap {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px
  }
  .about-us--info {
    padding: 0 10px;
    font-size: 16px
  }
  .faq {
    font-size: 22px
  }
}
@media screen and (max-width:450px) {
  .discounts--img {
    min-width: 100%;
    height: 100%
  }
}
@media screen and (max-width:380px) {
  .contacts--link__e-mail::before {
    width: 15px;
    height: 11px
  }
  .contacts--link__phone::before {
    width: 11px;
    height: 12px
  }
  .contacts--link__location::before {
    width: 11px;
    height: 15px;
    left: -14px
  }
}
@media screen and (max-width:355px) {
  .main-header {
    font-size: 10px
  }
}
@media screen and (max-width:350px) {
  .discounts--img {
    min-width: 150%;
    height: 100%
  }
}
/*# sourceMappingURL=style.css.map */
