@font-face {
  font-family: CenturyGothic;
  src: url(../fonts/CenturyGothic.woff2) format('woff2'),url(../fonts/CenturyGothic.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: CoreSans;
  src: url(../fonts/CoreSansE-35Light.woff2) format('woff2'),url(../fonts/CoreSansE-35Light.woff) format('woff');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Haettenschweiler;
  src: url(../fonts/Haettenschweiler.woff2) format('woff2'),url(../fonts/Haettenschweiler.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
abbr,
fieldset,
img {
  border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400
}
ul li {
  list-style: none
}
caption,
th {
  text-align: left
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400
}
sup {
  vertical-align: text-top
}
sub {
  vertical-align: text-bottom
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}
legend {
  color: #000
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px
}
body {
  font-size: 20px;
  font-family: CoreSans,sans-serif;
  background-color: #141212
}
img {
  max-width: 100%;
  height: auto
}
a,
abbr {
  text-decoration: none
}
button {
  cursor: pointer
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.accent-text {
  color: #5b8b2d
}
.main-header {
  padding: 5px 0;
  font-family: CenturyGothic,sans-serif;
  font-size: 16px;
  color: #92d5bc;
  background: url(../img/header-bd.jpg) 0 0/cover no-repeat #050505
}
.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.main-header--logo {
  box-sizing: border-box;
  word-wrap: break-word;
  width: auto;
  height: 30px;
  margin: auto 5px
}
.main-header--search {
  width: 450px;
  height: auto;
  background-color: #fff
}
.contacts--item {
  margin-bottom: 6px
}
.contacts--link {
  position: relative;
  color: #92d5bc
}
.contacts--link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.contacts--link__e-mail::before {
  width: 23px;
  height: 17px;
  background: url(../../img/mail.png) center/cover no-repeat
}
.contacts--link__phone::before {
  width: 20px;
  height: 21px;
  left: -27px;
  background: url(../../img/phone.png) center/cover no-repeat
}
.contacts--link__location::before {
  width: 17px;
  height: 23px;
  left: -25px;
  background: url(../../img/location.png) center/cover no-repeat
}
.discounts {
  margin-bottom: 10px
}
.discounts .container,
.discounts--wrap {
  position: relative
}
.discounts--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px
}
.discounts--item {
  box-sizing: border-box;
  word-wrap: break-word;
  width: calc(100% - 10px);
  margin: 0 auto;
  display: none;
  position: relative;
  overflow: hidden
}
.discounts--item__active {
  display: block
}
.discounts--header {
  font-size: 50px;
  font-weight: 700;
  color: #232e30;
  margin-top: 100px;
  margin-left: 100px
}
.discounts--img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.discounts--info {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 100px;
  color: #95b1b5;
  background-color: rgba(0,0,0,.5)
}
.discounts--btns {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}
.discounts--btn {
  font-size: 0;
  border: none;
  padding: 0;
  width: 27px;
  height: 52px;
  background: url(../img/arrow.png) center no-repeat
}
.discounts--btn__prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.discounts--checks {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70px;
  margin-bottom: 10px
}
.discounts--check {
  font-size: 0;
  border: 2px solid #8bbead;
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%
}
.services--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.services--item {
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(50% - 10px);
  margin-bottom: 10px;
  background-color: #99ce94
}
.services--item__long {
  width: calc(100% - 10px)
}
.services--item__long .service--item {
  width: calc(16.666666666666668% - 10px)
}
.services--header {
  font-size: 27px;
  color: #394d44;
  background-color: #99ce94
}
.services--header__left {
  margin-right: 20px;
  padding-right: 5px;
  text-align: right
}
.services--header__right {
  margin-left: 20px;
  padding-left: 5px;
  text-align: left
}
.services--header__long {
  text-align: center
}
.services--insure {
  color: #192822
}
.services--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  opacity: .5
}
.services--bg__left {
  background-image: url(../img/services-left-bg.png)
}
.services--bg__right {
  background-image: url(../img/services-right-bg.png)
}
.services--bg__long {
  background-image: url(../img/services-long-bg.png)
}
.services--wrap {
  padding-top: 35px;
  padding-bottom: 85px;
  background-color: #588b52
}
.service--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.service--item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center
}
.service--item:first-child {
  margin-left: 20px
}
.service--item:last-child {
  margin-right: 20px
}
.service--header {
  margin-top: -65px;
  margin-bottom: 5px;
  padding-bottom: 30px;
  font-family: Haettenschweiler,sans-serif;
  font-size: 32px;
  color: #192822;
  background-color: #588b52
}
.service--about {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 15px;
  font-size: 18px;
  color: #394d44
}
.service--price {
  margin-bottom: 5px;
  font-size: 14px;
  color: #192822;
  font-weight: 700
}
.service--link {
  margin-bottom: 10px
}
.about-us--wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1px 1px 200px;
  background: url(../img/about-us-bg.jpg) center/cover no-repeat;
  border-bottom-right-radius: 75px;
  border-bottom-left-radius: 75px
}
.about-us--header {
  margin-left: 47%;
  margin-bottom: 35px;
  margin-top: 70px;
  font-size: 48px;
  font-family: CenturyGothic,sans-serif;
  color: #161e1b
}
.about-us--info {
  margin-left: 47%;
  margin-bottom: 100px;
  padding-right: 70px;
  font-size: 23px;
  font-family: CenturyGothic,sans-serif
}
.faq {
  margin-top: -170px;
  margin-bottom: 100px;
  font-family: CenturyGothic,sans-serif;
  font-size: 48px;
  color: #161e1b
}
.faq--wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255,255,255,.42)
}
.faq--header {
  display: inline-block
}
.faq--link {
  color: #446822
}
.faq--text {
  display: inline-block
}
.main-footer {
  padding-bottom: 30px;
  font-family: CenturyGothic,sans-serif;
  font-size: 18px;
  color: #35521a
}
.main-footer--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px
}
.main-footer--list {
  margin-left: 100px
}
.main-footer--item {
  margin-bottom: 8px
}
.main-footer--link {
  color: #35521a;
  border-bottom: 1px solid #35521a
}
.main-footer--asks {
  font-size: 36px
}
.main-footer--phone {
  display: block;
  margin-bottom: 20px;
  padding-right: 45px;
  font-size: 36px;
  color: #35521a;
  text-align: right
}
.main-footer--address {
  text-align: right
}
@media screen and (max-width:780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px
  }
}
/*# sourceMappingURL=style.css.map */
