.discounts {
	margin-bottom: 10px;
	.container {
		position: relative;
	}

	&--wrap {
		position: relative;
	}

	&--list {
		.row-flex();
	}
	
	&--item {
		.col();
		.size(12);
		margin: 0 auto;

		display: none;
		position: relative;

		overflow: hidden;

		&__active{
			display: block;
		}
	}

	&--header {
		font-size: 50px;
		font-weight: 700;
		color: #232e30;
		margin-top: 100px;
		margin-left: 100px;
	}
	&--img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		z-index: -1;
	}

	&--info {
		margin-top: 30px;
		margin-bottom: 50px;
		padding: 10px 100px;

		color: @discounts-color;

		background-color: rgba(0, 0, 0, 0.5);
	}

	&--btns {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&--btn {
		font-size: 0;
		border: none;
		padding: 0;

		width: 27px;
		height: 52px;

		background: url(../img/arrow.png) center no-repeat;

		&__prev {
			transform: rotate(180deg);
		}
	} 

	&--checks {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);

		display: flex;
		justify-content: space-between;

		width: 70px;
		margin-bottom: 10px;
	}

	&--check {
		font-size: 0;
		border: none;
		padding: 0;

		width: 15px;
		height: 15px;

		background-color: transparent;
		border: 2px solid #8BBEAD;
		border-radius: 50%;
	}
}