.main-header {
	font-family: 'CenturyGothic', sans-serif;
	font-size: 16px;
	color: @header-color;
	
	.lg-block({
		font-size: 14px;
		});
	.xs-block({
		font-size: 12px;
		});
	@media screen and (max-width: 355px){
		font-size: 10px;
	}

	&--wrap {
		box-sizing: border-box;
		padding: 5px 10px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		background: #050505 url(../img/header-bd.jpg) 0 0 no-repeat;
		background-size: cover;
		.sm-block({
			flex-wrap: wrap;
			});
		.xs-block({
			padding: 5px 0;
			align-items: stretch;
			});
	}

	&--logo {
		.col();
		.size-sm(8);
		.size-xs(9);
		width: 450px;
		height: auto;

		.lg-block({
			width: 350px
			});
		.sm-block({
			margin: 0 auto;
			margin-bottom: 20px;
			});
		.xs-block({
			margin-left: 10px;
			flex-grow: 1;
			align-self: flex-end;
			});
	}

	&--search {
		display: flex;
		align-items: center;
		order: 1;

		.md-block({
			flex-grow: 1;
			justify-content: flex-start;
			margin-left: 20px;
			});
		.sm-block({
			order: 4;
			flex-grow: 1;
			justify-content: flex-start;
			margin-left: 0;
			});
		.xs-block({
			order: 0;
			justify-content: flex-end;
			margin-bottom: 20px;
			margin-right: 10px;
			});
	}

	&--show {
		border: none;
		padding: 0;
		font-size: 0;

		position: relative;

		display: inline-block;
		width: 28px;
		height: 28px;
		margin-right: 10px;

		background: url(../../img/search.png) center no-repeat;
		background-size: cover;

		&::after {
			content: "поиск";

			position: absolute;
			top: 0;
			left: 27px;

			font-size: 14px;
			font-family: 'CenturyGothic', sans-serif;
			color: @header-color;
			display: none;

			.sm-block({
				display: inline-block;
				});
			.xs-block({
				display: none;
				})
		}
		
		.md-block({
			margin-right: 0;
			});
		.sm-block({
			width: 20px;
			height: 20px;
			});
		.xs-block({
			width: 28px;
			height: 28px;

			transform: rotate(-90deg);
			});

	}

	&--input {
		border: none;
		padding: 0;
		
		box-sizing: border-box;
		min-width: 400px;
		padding: 10px 15px;

		font-size: 20px;

		background-color: rgba(255, 255, 255, 0.25);
		color: #92d5bc;

		.lg-block({
			min-width: 300px;
			padding: 8px 10px;

			font-size: 17px;
			});
		@media screen and (max-width: 1075px) {
			min-width: 260px;
			font-size: 16px;
		}
		.md-block({
			display: none;
			});
	}

	&--langs {
		order: 2;
		display: flex;
		flex-direction: column;
		.md-block({
			flex-grow: 1;
			align-items: flex-end;
			margin-right: 30px;
			});
		.sm-block({
			flex-grow: 0;
			margin-bottom: auto;
			});
		.xs-block({
			margin-right: 10px;
			});
	}

	&--lang {
		appearance: none;
		cursor: pointer;

		width: 21px;
		height: 13px;
		margin-bottom: 5px;
		margin-top: 5px;

		background: url(../../img/lang-rus.png) center no-repeat;
		background-size: cover;
		border: none;
		border-radius: 0;

		.md-block({
			width: 28px;
			height: 17px;
			margin-bottom: 3px;
			margin-top: 3px;
			});
		.sm-block({
			width: 45px;
			height: 27px;
			});
		.xs-block({
			width: 21px;
			height: 13px;
			});


		&:hover {
			outline: 1px solid #71adab;
		}
	}

	&__ukr {
		background-image: url(../../img/lang-ukr.png);
	}

	&__active-lang {
		.sm-block({
			display: none;
			});
	}


	&--lang-lab {
		font-size: 0;
	}
}