.service {
	&--list {
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 13px;
      background: #272727 url(../../img/scroll-bg.jpg);
    }

    &::-webkit-scrollbar-thumb {
      background: #838383 url(../../img/scroll-thumb.jpg);
    }
  }

  &--item {
    min-width: 33.3%;
    max-width: 33.3%;
    padding: 0 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    text-align: center;

    .sm-block({
      min-width: 50%;
      max-width: 50%;
      });
  }

  &--header {
    margin-top: 85px;
    margin-bottom: 15px;
    padding-bottom: 30px;

    font-family: 'Haettenschweiler', sans-serif;
    font-size: 32px;
    color: #192822;

    z-index: 3;

    .lg-block({
      margin-top: 80px;
      padding-bottom: 15px;
      font-size: 24px;
      });
    .md-block({
      font-size: 28px;
      });
    .sm-block({
     font-size: 22px;
     });
    .xs-block({
      margin-top: 70px;
      font-size: 25px;
      });
  }

  &--about {
    flex-grow: 1;
    margin-bottom: 15px;

    font-size: 18px;
    color: #394d44;

    .lg-block({
      font-size: 17px;
      });
  }

  &--price {
    margin-bottom: 10px;

    font-size: 15px;
    color: #192822;
    font-weight: bold;
  }

  &--link {
    position: relative;
    align-self: center;
    margin-bottom: 15px;
    padding: 5px 10px;

    background-color: #838181;
    border: 2px solid #707070;
    border-radius: 8px;
    color: rgba(255,255,255, 0.7);

    .lg-block({
      font-size: 17px;
      });

    &:hover,
    &:active {
      background-color: #9d9b9b;
      border: 2px solid #5d5d5d;

      transition: all 0.2s;
    }

    &:active {
      background-color: #4d4b4b;
      border: 2px solid #353535;

      transition: all 0.2s;
    }
  }
}