.service {
	&--list {
		.row-flex();
		justify-content: space-around;
	 
  }

	&--item {
		width: 30%;
		display: flex;
		flex-direction: column;
		text-align: center;

    .size-md(3);
    .size-xs(6);
		
		&:first-child {
			margin-left: 20px;

      .lg-block({
        margin-left: 0;
        });
		}
		&:last-child {
			margin-right: 20px;

      .lg-block({
        margin-right: 0;
        });
		}

	}

	&--header {
		margin-top: -65px;
		margin-bottom: 5px;
		padding-bottom: 30px;

		font-family: 'Haettenschweiler', sans-serif;
		font-size: 32px;
		color: #192822;

		background-color: #588b52;

    .lg-block({
      margin-top: -45px;
      padding-bottom: 15px;
      font-size: 24px;
      });
    .md-block({
      font-size: 28px;
      });
    .sm-block({
    	font-size: 22px;
    	});
    .xs-block({
      font-size: 25px;
      });
	}

	&--about {
		flex-grow: 1;

		margin-bottom: 15px;
		
		font-size: 18px;
		color: #394d44;

    .lg-block({
      font-size: 17px;
      });
	}

	&--price {
		margin-bottom: 5px;

		font-size: 14px;
		color: #192822;
		font-weight: bold;
	}

	&--link {
		margin-bottom: 10px;

    .lg-block({
      font-size: 17px;
      });
	}
}