@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'CoreSans';
	src: url('../fonts/CoreSansE-35Light.woff2') format('woff2'),
	url('../fonts/CoreSansE-35Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Haettenschweiler';
	src: url('../fonts/Haettenschweiler.woff2') format('woff2'),
	url('../fonts/Haettenschweiler.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
