@import "smart-grid.less";
@import "fonts.less";
@import "scaffolding.less";


.main-header {
	padding: 5px 0;

	font-family: 'Nairi';
	font-size: 16px;
	color: #92d5bc;

	background: #050505 url(../img/header-bd.jpg) 0 0 no-repeat;
	background-size: cover;
	&--wrap {
		.row-flex();
	}
	&--logo {
		.col();
		width: auto;
		height: 30px;
		margin-top: auto;
		margin-bottom: auto;
	}
	&--search {
		.col();
		.size(4);
		height: auto;
		background-color: #fff;
	}
}

.contacts {
	&--list {
		.col();
		.shift(1);
		.size(2);
	}
	&--item {
	}
}

.discounts {	
	.container {
		position: relative;
	}

	&--list {
		.row-flex();
	}
	
	&--item {
		.col();
		.size(12);
		margin: 0 auto;
		padding-bottom: 10px;

		display: none;
		position: relative;

		overflow: hidden;

		&__active{
			display: block;
		}
	}

	&--header {
		font-size: 50px;
		font-weight: 700;
		color: #232e30;
		margin-top: 60px;
		margin-left: 100px;
	}
	&--img {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			z-index: -1;
	}

	&--info {
		margin-top: 30px;
		margin-bottom: 50px;
		padding: 10px 100px;

		color: #95b1b5;

		background-color: rgba(0, 0, 0, 0.5);
	}

	&--btns {
		position: relative;
		width: 100%;
	}

	&--btn {
		font-size: 0;
		border: none;
		padding: 0;

		width: 27px;
		height: 52px;

		background: url(../img/arrow.png) center no-repeat;
		background-color: red;

		&__next {
			transform: rotate(180deg);
			position: absolute;
			right: 0;
		}
	}

	&--checks {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);

		display: flex;
		justify-content: space-between;

		width: 70px;
		margin-bottom: 10px;
	}

	&--check {
		font-size: 0;
		border: none;
		padding: 0;

		width: 15px;
		height: 15px;

		background-color: transparent;
		border: 2px solid #8BBEAD;
		border-radius: 50%;
	}
}

.services {
	&--list {
		.row-flex();
		justify-content: center;
	}

	&--item {
		background-color: rgba(255, 0, 0, .5);
		.col();
		.size(6);
		.size-xs(10);
		margin-bottom: 20px;
	}
}

.service {
	&--list {
		.row-flex();
		justify-content: space-around;
	}

	&--item {
		background-color: rgba(255, 255, 0, .5) ;
		.col();
		.size(3);
		.size-sm(5);
		.size-xs(12);
	}

	&--header {
		text-align: center;
	}
}

.faq {
	&--container{
		display: flex;
		justify-content: center;
	}

	&--header {
		display: inline-block;
		margin-right: 4px;
	}
	&--text {
		display: inline-block;
	}
}